/* .dotgothic16-regular {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
} */
  

* {
    margin: 0;
    padding: 0;
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    touch-action: manipulation;
}
#all {
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    color: white;
}
.title {
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h2 {
    font-size: 10vw;
}
.title h4 {
    font-size: 6vw;
    color: #7d7d7d;
}
.images {
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.images div {
    border: solid 3px white;
    width: 60vw;
    height: 20vh;
}
.about {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about div {
    width: 80vw;
    height: 20vh;
    border: solid 3px white;
}
.about div p {
    padding: 10px;
}
.keyword {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.keyword div input {
    width: 60vw;
    height: 5vh;
    font-size: 5vw;
    background-color: black;
    border: solid 2px white;
    color: white;
}
.attack {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.attack div button {
    width: 50vw;
    height: 8vh;
    font-size: 4vw;
    color: white;
    background-color: black;
    border: solid 2px white;
}
.back-button {
    width: 100vw;
    height: 5vh;
    align-items: center;
}
.back-button div a{
    width: 20vw;
    height: 4vh;
    background-color: black;
    color: white;
    border: solid 2px white;
    text-decoration: none;
    margin-left: 10vw;
    padding: 5px;
}