body {
	font-weight: 300;
	font-style: normal;
	color: #ffffff;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
}

* {
	font-family: "DotGothic16", sans-serif;
}

#wrapper {
	position: relative;
	width: 55vh;
	height: 100vh;
	margin: 0 auto;
	background-color: #000000;
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

@media screen and (max-width: 550px) {
	#wrapper {
			width: 100vw;
			border-radius: 0;
	}
}

header {
	margin-top: 12.5%;
}

h1, h3 {
	text-align: center;
	margin: 0;
}

h1 {
	font-size: 3rem;
	font-weight: 400;
}

h3 {
	font-size: 1.5rem;
	font-weight: 200;
	opacity: 0.6;
}

samp#already, samp#error {
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 1.25rem;
	font-weight: 200;
	font-style: normal;
	opacity: 0;
}

samp#already {
	top: 30%;
}

samp#error {
	top: 5%;
}

var {
	position: absolute;
	bottom: 5%;
	width: 100%;
	text-align: center;
	font-size: 1rem;
	font-weight: 200;
	font-style: normal;
	opacity: 0.6;
}

#login-form {
	width: 60%;
	margin: 0 20%;
	margin-top: 35%;
}

#login-form label {
	display: block;
	text-align: center;
	font-size: 1.25rem;
	font-weight: 200;
	opacity: 0.8;
}

#login-form input {
	box-sizing: border-box;
	width: 100%;
	height: 3.5rem;
	padding: 0 1rem;
	margin: 1rem 0;
	border: none;
	border-radius: 5px;
	border: 3px solid #ffffff;
	background-color: #000000;
	color: #ffffff;
	font-size: 1.25rem;
	font-weight: 200;
}

#login-form input:focus {
	outline: none;
}

#login-form input[type="submit"] {
	height: 7rem;
	margin-top: 10%;
	font-size: 1.75rem;
}

@keyframes fadeOut {
	0% { opacity: 1; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}

.fadeOut {
	animation-name: fadeOut;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

a#back {
	position: absolute;
	box-sizing: border-box;
	padding: 0.25rem 1rem;
	margin-left: 5%;
	border: none;
	border-radius: 5px;
	bottom: 5%;
	border: 3px solid #ffffff;
	background-color: #000000;
	color: #ffffff;
	font-size: 1.25rem;
	font-weight: 200;
	text-decoration: none;
}
