* {
  font-family: "DotGothic16", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #ffffff;
  font-weight: 300;
  font-style: normal;
}

body > main {
  position: relative;
  width: 55vh;
  height: 100vh;
  background-color: #000000;
  margin: 0 auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
}

.title {
  margin-top: 20px;
}
.parent {
  border: 1px solid white;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
.name {
  border: 1px solid white;
  padding: 0px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
.status {
  border: 1px solid white;
  width: 50%;
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
}
.miteiyouso {
  border: 1px solid white;
  padding: 0px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
.checkpoint {
  border: 1px solid white;
  width: 50%;
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
}
.modoru {
  border: 1px solid white;
  width: 10%;
  margin-top: 22px;
}
.teamname {
  margin-bottom: -20px;
}
.bottom {
  display: flex;
}

/* ちょっと追加 */

main > div:nth-child(2) {
  padding-top: 2.5vh;
}

#loading {
	width: 100%;
	height: 30vh;
	justify-content: center;
	font-size: 1.5rem;
	align-items: center;
}

.bottom {
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 5vh;
  padding: 5px 0;
}

.modoru {
  margin: 0;
  margin-left: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  position: absolute;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.teamname {
  position: relative;
  text-align: center;
  margin: auto;
}

.root-item {
  border: 1px solid #fff;
  width: 50%;
  margin: 35px auto 0;
}

.root-item > div {
  border-top: 1px solid #fff;
  padding: 10px;
}
